@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$fz-base: 18;


$font-primary: 'Montserrat', sans-serif;


$cl-primary: #000;
$cl-secondary: #fff;
$cl-btn: #6EBBD3;
